[Unit]
Description=OneDrive Monitor Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/onedrive --monitor
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target